<style type="text/css">
div.po-aqi-scale.po-aqi-scale-display.po-aqi-scale-display-hidden.noData {
  display: none !important;
}

.aqi-legend-icon {
  transform: rotate(90deg);
  height: 24px;
  width: 24px;
  position: absolute;
  left: 5px;
}

.po-aqi-scale {
  position: fixed;
  top: 340px;
  z-index: 1001;
  left: -5px;
  pointer-events: none;
}

.po-aqi-scale .po-scale-item {
  /*background: grey;*/
  background: #565656;
  border: solid 1px white;
  color: white;
  border-radius: 5px;
  pointer-events: all;
}

.po-aqi-scale .po-aqi-scale-btn .fa{
  margin: 5px;
}

/*Button Normal*/
.po-aqi-scale .po-aqi-scale-btn {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;

  transform: rotate(-90deg) translate(0px, 0px);
  -webkit-transform: rotate(-90deg) translate(0px, 0px);
  -moz-transform:    rotate(-90deg) translate(0px, 0px);
  -ms-transform:     rotate(-90deg) translate(0px, 0px);
  -o-transform:      rotate(-90deg) translate(0px, 0px);

  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;

  padding-top: 5px;
  top: 135px;
  position: absolute;
  width: 135px;
  text-align: right;
}

/*Button Hide*/
.po-aqi-scale .po-aqi-scale-btn .po-aqi-scale-btn-hidden {
  transform: rotate(-90deg) translate(0px, -27px);
  -webkit-transform: rotate(-90deg) translate(0px, -27px);
  -moz-transform:    rotate(-90deg) translate(0px, -27px);
  -ms-transform:     rotate(-90deg) translate(0px, -27px);
  -o-transform:      rotate(-90deg) translate(0px, -27px);
}

/*Display Normal*/
.po-aqi-scale .po-aqi-scale-display {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform:    translate(0px, 0px);
  -ms-transform:     translate(0px, 0px);
  -o-transform:      translate(0px, 0px);

  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;

  padding: 10px 0;
  width: 215px;

  font-family: DroidSansFont;
  font-size: 12pt;
}

/*Display Hide*/
.po-aqi-scale .po-aqi-scale-display .po-aqi-scale-display-hidden {
  transform: translate(-245px, 0px);
  -webkit-transform: translate(-245px, 0px);
  -moz-transform:    translate(-245px, 0px);
  -ms-transform:     translate(-245px, 0px);
  -o-transform:      translate(-245px, 0px);
}

.po-aqi-scale .po-aqi-scale-display .fa-times {
  cursor: pointer;
  /*padding: 5px;*/
}

.po-aqi-scale .po-aqi-scale-display .display-item {
  padding-left: 15px;
  padding-right: 15px;
}

.scale-section {
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0px;
}

.scale-section .col-xs-8 {
  padding-left: 6px;
  padding-right: 5px;
}

.scale-section-title {
  padding: 0px 0px 10px 0px;
}

.scale-section-good {
  /*background-color: var(--color-aqi-green);*/
  background-color: #00E400;
  color: #000000;
}

.scale-section-moderate {
  /*background-color: var(--color-aqi-yellow);*/
  background-color: #ffff00;
  color: #000000;
}

.scale-section-sensitive-unhealthy {
  /*background-color: var(--color-aqi-orange);*/
  background-color: #ff7e00;
  color: #ffffff;
}

.scale-section-unhealthy {
  /*background-color: var(--color-aqi-red);*/
  background-color: #ff0000;
  color: #ffffff;
}

.scale-section-very-unhealthy {
  /*background-color: var(--color-aqi-purple);*/
  background-color: #8F3F97;
}

.scale-section-hazardous {
  /*background-color: var(--color-aqi-maroon);*/
  background-color: #7E0023;
}

.scale-section-info {
  font-weight: normal;
  padding: 5px 0 0 0;
}

/* Targets landscape on phones: Range from Galaxy S5 to iPhone 8 Plus */
@media all and (max-width: 767px) and (max-height: 415px) {
  .po-aqi-scale {
    top: 20vh;
  }
}

.po-aqi-text {
  padding-right: 0;
  white-space: nowrap;
}

.po-category-text{

}

.po-title-text {
  white-space: nowrap;
}


.po-title-container{
}
</style>
