{#
/**
 * @file
 * Profile Top Ten blockpage.
 */
#}
<div class="band-card-row container-fluid top-ten-container">
  <div class="band-title-holder">
		  <h1 id="" class="band-title-light" align="center">Highest AQI Locations</h1>
      <p>&nbsp;</p>
  </div>

	<div class="tblInvisibleFixed" style="border-collapse:collapse" width="100%">
    {# https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <div class="col-sm-12 basic-content">
        This is a list of Reporting Areas with the highest current Air Quality Index (AQI) values. Ozone and particle pollution monitors across the country report current air quality readings to AirNow around the clock. The AirNow system generates a list of where the AQI for ozone or particle pollution is currently the highest at any given hour; this list automatically updates hourly, so the list changes several times day.
        <p>&nbsp;</p>
    <style>
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
    }
    </style>

    <div class="row col-sm-12 basic-content">
      <div class="column">
        {# Copy and Paste just this table if the Highest AQI Content Item is messed up   cw 2020-08-07 #}


        <table width="510">
          <tbody>
          <tr bgcolor="#FFFFFF">
            <td height="35" align="left">
              <a id="cityCell0" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell0" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr bgcolor="#EEEEEE">
            <td height="35" align="left">
              <a id="cityCell1" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell1" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr bgcolor="#FFFFFF">
            <td height="35" align="left">
              <a id="cityCell2" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell2" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr bgcolor="#EEEEEE">
            <td height="35" align="left">
              <a id="cityCell3" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell3" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr bgcolor="#FFFFFF">
            <td height="35" align="left">
              <a id="cityCell4" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell4" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

      <div class="column" style="padding-left: 25px;">
        <table width="510">
          <tbody>
          <tr bgcolor="#FFFFFF">
            <td height="35" align="left">
              <a id="cityCell5" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell5" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr bgcolor="#EEEEEE">
            <td height="35" align="left">
              <a id="cityCell6" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell6" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr bgcolor="#FFFFFF">
            <td height="35" align="left">
              <a id="cityCell7" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell7" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr bgcolor="#EEEEEE">
            <td height="35" align="left">
              <a id="cityCell8" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell8" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <tr bgcolor="#FFFFFF">
            <td height="35" align="left">
              <a id="cityCell9" href="" class="NtnlSummaryCity"></a>
            </td>
            <td width="25" align="right">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" style="margin-right: 10px;">
                          <tbody>
                            <tr style="color:black;text-align:right;font-weight:600">
                              <td id="aqiCell9" style="text-align:center;margin:5px" width="35" height="27" class="btn btn-top-ten aqi-orb"></td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          </tbody>
        </table>

      </div>

    </div>

  </div>
  </div>
  <p>&nbsp;</p>

  <div class="po-aqi-scale noData"><button class="po-scale-item po-aqi-scale-btn"><img alt="" class="aqi-legend-icon" src="themes/anblue/images/Legend_Color_block.svg" /><div class="fa fa-chevron-circle-down"> </div>AQI Legend</button>

  <div class="po-scale-item po-aqi-scale-display po-aqi-scale-display-hidden">
    <div class="row strip-margin scale-section-title">
    <div class="col-xs-10 po-title-container">
    <p class="display-item po-title-text">Air Quality Index Scale</p>
    </div>

    <div class="col-xs-2 display-close-holder"><div class="fa fa-times">&nbsp;</div>&nbsp;</div>
    </div>

    <div class="row strip-margin scale-section scale-section-good">
    <div class="col-xs-4 po-aqi-text">0 - 50</div>

    <div class="col-xs-8 po-category-text">Good</div>
    </div>

    <div class="row strip-margin scale-section scale-section-moderate">
    <div class="col-xs-4 po-aqi-text">51 - 100</div>

    <div class="col-xs-8 po-category-text">Moderate</div>
    </div>

    <div class="row strip-margin scale-section scale-section-sensitive-unhealthy">
    <div class="col-xs-4 po-aqi-text">101 - 150</div>

    <div class="col-xs-8 po-category-text">Unhealthy for Sensitive Groups (USG)</div>
    </div>

    <div class="row strip-margin scale-section scale-section-unhealthy">
    <div class="col-xs-4 po-aqi-text">151 - 200</div>

    <div class="col-xs-8 po-category-text">Unhealthy</div>
    </div>

    <div class="row strip-margin scale-section scale-section-very-unhealthy">
    <div class="col-xs-4 po-aqi-text">201 - 300</div>

    <div class="col-xs-8 po-category-text">Very Unhealthy</div>
    </div>

    <div class="row strip-margin scale-section scale-section-hazardous">
    <div class="col-xs-4 po-aqi-text">301 - 500</div>

    <div class="col-xs-8 po-category-text">Hazardous</div>
    </div>

    <div class="row strip-margin scale-section scale-section-info">
    <div class="col-xs-4">&nbsp;</div>

    <div class="col-xs-8 value-text po-category-text">
    <p>Values above 500 are <a href="/aqi/aqi-basics/extremely-high-levels-of-pm25">beyond</a> the AQI scale</p>
    </div>
    </div>

    </div>
  </div>

</div>
