<div class="marquee-dial-holder">
  <img id="marquee-dial-background" alt="marquee dial background" src="{{ directory }}/images/black_circle.png"/>
  <img id="marquee-dial-meter" alt="marquee dial meter" src="{{ directory }}/images/dial_USG_LegendArc.png"/>
  <img id="marquee-dial-arrow" alt="marquee dial arrow" src="{{ directory }}/images/arrow.png"/>
  <img id="marquee-dial-status" alt="marquee dial status" src="{{ directory }}/images/dial_USG_Category.png"/>
  <div class="dial-data-info">
    <div class="col-xs-12 current-aq-label">
      {#<h4>Current Air Quality</h4>#}
    </div>
    <div class="updated-time-row">
      {#Updated 8 am PDT#}
    </div>
    <div class="col-xs-12 aq-data-row">
      <div class="col-xs-5">
        <div id="aqi-data" class="aq-data-value">
          {#136#}
        </div>
        <div id="aqi-label" class="aq-data-label">
          <p>
            {#AQI#}
          </p>
        </div>
      </div>
      <div class="col-xs-7">
        <div id="pp-data" class="aq-data-value">
          {#PM2.5#}
        </div>
        <div id="pp-label" class="aq-data-label">
          <p>
            {#Particle Pollution#}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
