<div class="nav-left-side-toolbar">
  {# Alerts Tool #}
  {% include "nav_alerts_tool.html.twig" %}

  {# Announcements Tool #}
  {% include "nav_announcements_tool.html.twig" %}
</div>

{# AIR-451 Fire & Notice State-level Notifications cw 2021-06-11 #}
<div id="nav-center-toolbar" class="nav-center-toolbar">
  <a id="state-notification" target="_blank" class="btn btn-custom-blue state-notification"></a>
</div>
